@model Tommava.Models.CombinedViewModel.CombinedViewModel

<style>
    .menu-home ul {
        padding: 8px 8px;
        overflow-y: auto;
        max-height: 840px;
    }

    .menu-home li {
        padding: 12px 24px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #fff;
        list-style-type: none;
    }

        .menu-home li a{
            color: #000;
            font-weight: 700;
        }

    .menu-home li:hover {
            opacity: 0.5;
        }

    .menu-home {
        height: auto;
    }
    .active{
        background-color: blue !important
    }
    .active i{
            color: yellow !important;
        }
    .active a{
            color: #fff !important
        }
</style>
<nav style="background-color: #ccc;" id="menu-home" class="menu-home">
    <div id="menu_home">
        <ul>
            @if (ViewBag.IdCategory != null)
            {
                <li v-for="item in categoryData" v-bind:class="['mb-2',{'active': @ViewBag.IdCategory === item.id }]">
                    <a :href=`/danh-muc/${item.slug}`>

                        <i class="fa-solid fa-comment" style="color: blue"></i>
                        {{item.name}}
                    </a>
                </li>
            }
            else
            {
                <li v-for="item in categoryData" class="mb-2">
                    <a :href=`/danh-muc/${item.slug}`>

                        <i class="fa-solid fa-comment" style="color: blue"></i>
                        {{item.name}}
                    </a>
                </li>
            }
           

        </ul>
    </div>
</nav>
<script>

    //$(document).ready(function () {
    //    var currentURL = window.location.href;
    //    const currentDomain = window.location.origin;
    //    if (currentURL.endsWith('/')) {
    //        currentURL = currentURL.slice(0, -1);
    //    }
    //    if (currentURL !== currentDomain) {
    //        $("#menu-home").hide();
    //    } else {
    //        $("#menu-home").show();
    //    }
    //});
</script>
<script>
    var menu_home = new Vue({
        el: "#menu_home",
        data: {
            categoryData: [{ name: "Học tiếng anh qua Video" }],
        },
        mounted() {
            var storedData = getCookie('categoryData');
            var expirationTime = getCookie('categoryDataExpirationTime');

            if (storedData && expirationTime) {
                if (Date.now() < parseInt(expirationTime)) {
                    this.categoryData = JSON.parse(storedData);
                } else {
                    this.fetchCategoryData();
                }
            } else {
                this.fetchCategoryData();
            }
        },
        methods: {
            fetchCategoryData() {
                axios.get('/Home/GetAllCategory')
                    .then(res => {
                        // Lưu dữ liệu vào Cookie
                        setCookie('categoryData', JSON.stringify(res.data), 30); // 30 phút
                        // Cập nhật thời gian sống (30 phút)
                        var expirationTime = Date.now() + 30 * 60 * 1000; // 30 phút
                        setCookie('categoryDataExpirationTime', expirationTime.toString(), 30); // 30 phút
                        this.categoryData = res.data;
                        console.log(this.categoryData);
                    });
            }
        }
    });

    // Hàm thiết lập Cookie
    function setCookie(name, value, minutes) {
        var expires = "";
        if (minutes) {
            var date = new Date();
            date.setTime(date.getTime() + (minutes * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    // Hàm lấy Cookie
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

</script>