@model Tommava.Models.SubCategoryViewModels.SubCategoryCRUD;

<form id="form_category">
    <input hidden asp-for="Id" />
    <div class="form-group">
        <label asp-for="CategoriesId" class="form-label"></label>
        <div class="container">
            <select asp-for="CategoriesId" asp-items="@ViewBag.Cate" class="form-control">
                <option value="0" selected disabled>--- Không  ---</option>
            </select>
            <span asp-validation-for="CategoriesId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SubName" class="control-label"></label>
        <input asp-for="SubName" class="form-control" onkeyup="GenrenderSlug(event)" />
        <span asp-validation-for="SubName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Slug" class="control-label"></label>
        <input asp-for="Slug" class="form-control" placeholder="slug tự động tạo" />
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>
</form>