

<div id="AppVueVideo">
    <div class="row">
        <div class="col-12 row">
            <div class="col-3"><div v-on:click="AddVideo()" class="btn btn-success">Thêm video</div></div>
        </div>
        <div class="container col-12">
            <table class="table table-striped" id="tableVideo">
                <thead class="text-dark table-light">
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center text-nowrap">Tên tiếng anh</th>
                        <th class="text-center text-nowrap">Tên tiếng việt</th>
                        <th class="text-center text-nowrap">Slug</th>
                        <th class="text-center text-nowrap">Ảnh đại diện</th>
                        <th class="text-center text-nowrap">Mô tả ngắn</th>
                        <th class="text-center text-nowrap">Thể loại</th>
                        <th class="text-center text-nowrap">Danh mục</th>
                        <th class="text-center text-nowrap"></th>
                    </tr>
                </thead>
                <tr v-for="(item, index) in data">
                    <td class="text-center">{{index+1}}</td>
                    <th class="text-center text-wrap">{{item.name}}</th>
                    <th class="text-center text-wrap">{{item.nameVn}}</th>
                    <th class="text-center text-wrap">{{item.slug}}</th>
                    <th class="text-center"><span class="btn btn-info opacity-5" v-on:click="ViewImg(item.img)"><i class="fa-solid fa-image" style="color: #1f5129;"></i></span></th>
                    <th class="text-center text-wrap">{{item.shortDescription}}</th>
                    <th class="text-center text-wrap">{{item.genreName}}</th>
                    <th class="text-center text-wrap">{{item.categoryName}}</th>
                    <td class="text-center text-nowrap">
                        <span class="btn btn-warning" v-on:click="EditVideo(item.id)">Cập nhật</span>
                        <span class="btn btn-danger" v-on:click="DeleteVideo(item.id)">Xóa</span>
                    </td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>



</div>
<script>

    var AppVueVideo = new Vue({
        el: "#AppVueVideo",
        data: {
            data: [],
            currentVideoId: 0,
            ckName : "",
        },
        computed: {

        },
        mounted() {
            this.initData();
        },
        methods: {
            initData() {
                fetch("/Admin/Video/GetData")
                    .then(res => res.json())
                    .then(data => {
                        console.log(data.object)
                        this.data = data.object;
                    })
            },
            AddVideo() {
                $("#BigModelContent").load(`/Admin/Video/AddVideo`, function () {
                    $("#staticBigModel").modal("show");
                    $("#staticBigModellTitle").html("Thêm danh mục mới")
                })
            },
            EditVideo(id) {
                $("#BigModelContent").load(`/Admin/Video/EditVideo?id=${id}`, function () {
                    $("#staticBigModel").modal("show");
                    $("#staticBigModellTitle").html("Cập nhật danh mục")
                })
            },
            DeleteVideo(id) {
                let custhis = this;
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa ?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    showCancelButton: true,
                    cancelButtonText: "Hủy",
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/Admin/Video/DeleteVideo?id=${id}`, {
                            method: "DELETE"
                        })
                            .then(res => res.json())
                            .then(data => {
                                if (data.statusCode) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: "Thành công",
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then((res) => { custhis.initData() });
                                }
                            })
                    }
                })
            },
            ViewImg(src) {
                Swal.fire({
                    imageUrl: `${src}`,
                    imageWidth: 400,
                })
            },
            ViewVideo(src) {
                console.log(src)
                Swal.fire({
                    html: `<video controls style=" width: 100%;height: auto;">
                                                              <source src="${src}" type="video/mp4">
                                                    </video>`,
                    imageWidth: 1000,
                })
            },
        }
    })


    function Save() {
        let _data = new FormData()
        _data.append("Id", $("#Id").val())
        _data.append("ViewCount", $("#ViewCount").val())
        _data.append("CreatedDate", $("#CreatedDate").val())
        _data.append("Img", $("#Img").val())
        _data.append("ShortDescription", $("#ShortDescription").val())
        _data.append("IsActive", $("#IsActive").val())
        _data.append("IsHome", $("#IsHome").val())
        _data.append("Name", $("#Name").val())
        _data.append("Description", form_video.$data.ckName)
        _data.append("CategoryId", $("#CategoryId").val())
        _data.append("NameVn", $("#NameVn").val())
        _data.append("Slug", $("#Slug").val())
        _data.append("GenreId", $("#GenreId").val())
        _data.append("ImgFile", document.getElementById("ImgFile").files[0])

        fetch("/Admin/Video/AddEditVideo", {
            method: "POST",
            headers: {
                processData: false,
                contentType: false,
            },
            body: _data
        })
            .then(res => res.json())
            .then(res => {
                $('#staticBigModel').modal('hide');
                console.log(res)
                Swal.fire({
                    title: "Thành công",
                    icon: 'info',
                }).then(res => {
                    AppVueVideo.initData();
                });
            })
    }

    function DeleteTimeLine(videoid) {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa ?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa',
            showCancelButton: true,
            cancelButtonText: "Hủy",
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/Admin/Video/DeleteTimeLine?id=${videoid}`, {
                    method: "DELETE"
                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.statusCode) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: "Thành công",
                                showConfirmButton: false,
                                timer: 1500
                            }).then((res) => { 

                                AppVueVideo.ViewTimeLine()
                            });
                        }
                    })
            }
        })
    }

    function EditTimeLine(videoid) {
        $("#ModalAddTimeLineContent").load(`/Admin/Video/EditTimeLine?id=${videoid}`, function () {
            $("#ModalAddTimeLineTitle").html("Cập nhật");
            $("#ModalAddTimeLine").modal("show");
        })
    }

    function HandleCategory(e){
        let cateid = e.target.value;
        const select = document.getElementById("SubCategoryId");
        select.innerHTML = '';
         fetch(`/Admin/SubCategory/GetSubCategoryByCategoryId?id=${cateid}`)
         .then(res=>res.json())
         .then(data=>{
             console.log(data)

            let op1 = document.createElement("option");
            op1.value = "0"
            op1.innerHTML= "--không--"
            op1.disabled = true;
            op1.selected = true;
            select.appendChild(op1)
             for(let i = 0; i<data.object.length; i++){
                 let op = document.createElement("option");
            op.value = data.object[i].id
            op.innerHTML= data.object[i].subName
            select.appendChild(op)
             }
         })
    }

    function HandleChangeNameVn(e){
        let text = e.target.value;

        let str = text.normalize('NFD').replace(/[\u0300-\u036f]/g, '');

        const replacements = {
            "đ": "d",
            "Đ": "D"
        };

        str = str
            .replace(/đ/g, 'd')
            .replace(/Đ/g, 'D')
            .toLowerCase()
            .replace(/ /g, '-')
            .replace(/[^\w-]+/g, '');
        document.getElementById("Slug").value = str;
    }

</script>